.footer {
  font: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.footer p {
  font: inherit;
  color: gray;
  margin: 0;
  font-weight: bold;
  font-size: small;
}

.footer a,
.footer a:visited {
  font: inherit;
  color: gray;
}

.footer a:hover {
  color: var(--main-red);
}
